.hidden {
  display: none;
}

.black {
  color: black;
}
.red {
  color: red;
}
.blue {
  color: blue;
}

.wrapper {
  display: inline-flex;
  height: 100%;
  width: 500px;
}

@media (max-width: 960px) {
  .wrapper {
    width: 100%;
    justify-content: center;
  }
}

.wrapper > canvas {
  justify-content: left;
  align-items: flex-start;
  width: 100%;
  height: 100%;
}
