.App {
  text-align: left;
  display: inline;
  width: 100%;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: left;
  justify-content: left;
  font-size: calc(10px + 2vmin);
  color: white;
  width: 100%;
  height: fit-content;
  padding-left: 5px;
  padding-top: 5px;
}
.hero-content-wrapper {
  width: 100%;
}

.unit-builder {
  display: flex;
  justify-content: left;
  padding-top: 5px;
  padding-left: 5px;
  overflow-x: hidden;
  overflow-y: hidden;
  background-image: url("./background.png");
}

@media (max-width: 960px) {
  .unit-builder {
    flex-wrap: wrap;
    padding-left: 0px;
  }
}

.modal-size {
  min-width: 60%;
}

.save-modal-size {
  max-width: 30%;
}

.modal-layout {
  display: inline-block;
}

@media (max-width: 960px) {
  .model-size {
    min-width: 95%;
  }
  .save-modal-size {
    max-width: 95%;
  }
}

/* CSS for Tabs */

.tab-row {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: white;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  min-height: 55px;
  max-height: 80px;
  min-width: 0;
  max-width: 99%;
  overflow-x: auto;
}

.tab {
  display: inline-flex;
  justify-content: left;
  align-items: center;
  max-width: 200px;
  min-width: 200px;
  height: 55px;
  position: relative;
}

.tab-label {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-width: 100px;
}

.tab-indicator {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 200px;
  background-color: #3f50b5;
  height: 3px;
}

.tab-popup {
  visibility: hidden;
  margin-left: auto;
}

.tab:hover > .tab-popup {
  visibility: visible;
}

.portraits {
  height: 55px;
  max-width: 55px;
  object-fit: cover;
  border-radius: 100%;
}

.chibis {
  height: 45px;
  max-width: 55px;
  object-fit: cover;
  padding-right: 10px;
  padding-left: 5px;
}

.divider {
  background-color: lightgray;
  width: 100%;
  height: 0.5px;
}

.header-row {
  display: inline-flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 0%;
}

.headers {
  font-size: 30px;
  font-weight: 500;
  display: inline-block;
}

.hero-info-modal-size {
  max-width: 50% !important;
}

.description-box {
  position: relative;
  border-style: solid;
  border-width: 2px;
  border-radius: 20px;
  padding: 20px;
  font-size: larger;
  font-style: italic;
}

.owl-messenger {
  height: 100px;
}

/** if user is using firefox*/
/* @-moz-document url-prefix() {
  body {
    scrollbar-width: auto;
  }
} */

@font-face {
  font-family: "nintendoP_Skip-D_003";
  src: url("./fonts/nintendoPSkip-D003.eot");
  src: url("./fonts/nintendoPSkip-D003.eot?#iefix") format("embedded-opentype"), url("./fonts/nintendoPSkip-D003.woff2") format("woff2"),
    url("./fonts/nintendoPSkip-D003.woff") format("woff"), url("./fonts/nintendoPSkip-D003.ttf") format("truetype"),
    url("./fonts/nintendoPSkip-D003.svg#nintendoPSkip-D003") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
