.barracksCards {
  display: inline-flex;
  justify-content: space-evenly;
  align-items: flex-start;
  overflow-y: auto;
  flex-wrap: wrap;
}

.buildCard {
  padding-bottom: 10px !important;
}

.titleRow {
  height: 75px;
}

.buildCardBottomRow {
  width: 100%;
  display: inline-flex;
  justify-content: space-between;
  align-items: flex-end;
}

.expandIcon {
  padding-left: 0px;
  max-width: 50%;
}

.loadButton {
  padding-left: 0px;
  max-width: 50%;
}

.buildIcons {
  height: 50px;
  max-width: 50px;
  object-fit: cover;
  padding-right: 10%;
}
